﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <style>
            #container {
                width: 500px;
                height:auto
            }
            .cell {
                float: left;
                width: 130px;
                height: 130px;
                margin: 1px;
                border: 1px solid gainsboro;
                cursor: pointer;   
            }
            .cell:hover {
                background-color: gainsboro;
            }
            #Info {
                margin: 50px;
            }
            #lblGameName {
                font-size: 40px;
                font-weight: bold;
            }
        </style>
        <script src="~/Scripts/jquery-1.6.4.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/TicTacToe_Engine.js"></script>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div Id="Info">
            <label id="lblGameName">TIC TAC TOE</label>
            <br/>
            <label id="lblGameInfo">Hamleniz bekleniyor...</label>
        </div>        
        <div Id="container">
            <div id="cell11" class="cell" status=""></div>
            <div id="cell12" class="cell" status=""></div>
            <div id="cell13" class="cell" status=""></div>
            <div id="cell21" class="cell" status=""></div>
            <div id="cell22" class="cell" status=""></div>
            <div id="cell23" class="cell" status=""></div>
            <div id="cell31" class="cell" status=""></div>
            <div id="cell32" class="cell" status=""></div>
            <div id="cell33" class="cell" status=""></div>
        </div>
    </body>
</html>


<script type="text/javascript">
 
  
   // var currentImage = x_ImagePath;

    $(document).ready(function () {
    
        var game = $.connection.gameHub;

        $.connection.hub.start().done(function () {
            game.server.connectedClients();
        });

        game.client.clientCount = function (count) {
            if (parseInt(count) > 2)
                window.location.href = '/Home/Logout/';
        };

        game.client.pushPlayedObject = function (id, playerId) {
            playerPlayed($('#' + id), playerId);
        };

        $('.cell').click(function (e) {
            playerPlayed($(this), $.connection.hub.id);
            game.server.sendPlayedObject(e.target.id);

        });

        function playerPlayed(obj, playerId) {

            if (CheckGameResult(obj)) {
                if (playerId == $.connection.hub.id)
                    $("#lblGameInfo").text("Tebrikler kazandınız");
                else
                    $("#lblGameInfo").text("Kaybettiniz");
            }
            else {
                if (playerId == $.connection.hub.id)
                    $("#lblGameInfo").text("Karşı taraf bekleniyor");

                else
                    $("#lblGameInfo").text("Hamleniz bekleniyor");
            }
        }

    });
 
 

</script>